@{
	ViewBag.Title = "Home Page";
}

@{
	MallTopic_News.Controllers.ConsumirWebApi ca = new MallTopic_News.Controllers.ConsumirWebApi();
	var ModeloNoticias = Newtonsoft.Json.JsonConvert.DeserializeObject<MallTopic_News.Models.Noticias[]>(ca.Peticion("NoticiasDestacadas_Result/true/false/''"));
	//Categoria de las noticias de recientes
	var ModeloNoticiasRecientes = Newtonsoft.Json.JsonConvert.DeserializeObject<MallTopic_News.Models.Noticias[]>(ca.Peticion("NoticiasDestacadas_Result/false/true/4db72003-685f-47b1-8855-8e468bff1f6b"));
	// Categorias de la noticias de Promociones
	var ModeloNoticiasPromociones = Newtonsoft.Json.JsonConvert.DeserializeObject<MallTopic_News.Models.Noticias[]>(ca.Peticion("NoticiasDestacadas_Result/false/true/730240e3-fa51-47ed-94aa-4ca8667b38cb"));
	//Categorias de la noticias de eventos
	var ModeloNoticiaseventos = Newtonsoft.Json.JsonConvert.DeserializeObject<MallTopic_News.Models.Noticias[]>(ca.Peticion("NoticiasDestacadas_Result/false/true/b05987a1-5427-4eb3-92ea-406650eb3e56"));
	//Categorias de la noticia de salud y belleza
	var ModeloNoticiasSaludyBelleza = Newtonsoft.Json.JsonConvert.DeserializeObject<MallTopic_News.Models.Noticias[]>(ca.Peticion("NoticiasDestacadas_Result/false/true/c5e9d6f6-2d90-48d9-93e0-a22b007dc0d5"));
	//Categorias de la noticia Modas
	var ModeloNoticiasModas = Newtonsoft.Json.JsonConvert.DeserializeObject<MallTopic_News.Models.Noticias[]>(ca.Peticion("NoticiasDestacadas_Result/false/true/bc954551-d1ef-4147-8058-0edba592c5a2"));
	//Categorias de la noticia de estilo de vida
	var ModeloNoticiasEstilodevida = Newtonsoft.Json.JsonConvert.DeserializeObject<MallTopic_News.Models.Noticias[]>(ca.Peticion("NoticiasDestacadas_Result/false/true/91680296-517a-4be1-9588-8ca25f6355cf"));
	//Categorias de la noticia de tecnologia
	var ModeloNoticiasTecnologia = Newtonsoft.Json.JsonConvert.DeserializeObject<MallTopic_News.Models.Noticias[]>(ca.Peticion("NoticiasDestacadas_Result/false/true/cd064eba-f934-4b64-b386-eef027591171"));
	//Categorias de la noticia de movilidad
	var ModeloNoticiasMovilidad = Newtonsoft.Json.JsonConvert.DeserializeObject<MallTopic_News.Models.Noticias[]>(ca.Peticion("NoticiasDestacadas_Result/false/true/71c1b9b5-99ad-48b0-a602-fde2fd74136d"));
	//Categoria de la noticia de Especiales MT
	var ModeloNoticiasEspeciales = Newtonsoft.Json.JsonConvert.DeserializeObject<MallTopic_News.Models.Noticias[]>(ca.Peticion("NoticiasDestacadas_Result/false/true/644f7bfe-4ed4-4bd2-a379-081b8a6811fa"));

	// fin de los modelos de categorias de las noticias


	var ModeloCategorias = Newtonsoft.Json.JsonConvert.DeserializeObject<MallTopic_News.Models.Categorias[]>(ca.Peticion("categorias"));
	var NoticiasRecientes = ModeloNoticias.Where(mm => mm.fk_idcategoria == "4db72003-685f-47b1-8855-8e468bff1f6b").ToList<MallTopic_News.Models.Noticias>();
}

<script src="~/Scripts/SliderMT.js"></script>
<script src="~/Scripts/ScriptNewsMT.js"></script>

<div class="botonera">
	<ul>
		<li><a href="#" id="desplegable1">Recientes</a></li>
		<li><a href="#" id="desplegable2">Promociones</a></li>
		<li><a href="#" id="desplegable3">Eventos</a></li>
		<li><a href="#" id="desplegable4">Salud y belleza</a></li>
		<li><a href="#" id="desplegable5">Moda</a></li>
		<li><a href="#" id="desplegable6">Estilo de vida</a></li>
		<li><a href="#" id="desplegable7">Tecnología</a></li>
		<li><a href="#" id="desplegable8">Movilidad</a></li>
		<li><a href="#" id="desplegable9">Especiales MT</a></li>
		<li id="desplegable10" onmouseover="MostrarMalls()" onmouseout="OcultarMalls()">
			<a href="Home/CentrosComerciales">Centros Comerciales</a>
		</li>
	</ul>
</div>
@{var modelotodos = Newtonsoft.Json.JsonConvert.DeserializeObject<MallTopic_News.Models.Noticias[]>(ca.Peticion("NoticiasDestacadas_Result/true/false/''"));}
<section id="content">
	<article class="contenedor1">
		<section id="slider">
			<div>
				<img id="Imagen" data-ocultar="true" data-count="0" />
				<!--<p id="PieImagen" class="piePag" data-ocultar="true"></p>-->
				<div id="descripcionSlide" data-ocultar="true">
					<a id="LinkNoticia" href="#" class="botonSlider"></a>
				</div>
			</div>
			<div class="listaMin">
				<div class="controlesDiv">
					<a href="#" onclick="Atras()"></a>
					<a href="#" onclick="Siguiente()"></a>
				</div>
				<ul id="miniaturas" class="miniaturas">
					@{var c = 0;
					var detalle = "NoticiaDetalle";}
					@foreach (var item in modelotodos)
					{
						var img = "http://malltopic.azurewebsites.net/Images/Uploads/MallTopicNews/" + item.id + ".png";
						if (MallTopic_News.Controllers.Existente.RemoteFileExists(img, 500))
						{
							img = "http://malltopic.azurewebsites.net/Images/Uploads/MallTopicNews/" + item.id + ".png";
						}
						else
						{
							img = "http://malltopic.azurewebsites.net/Images/Uploads/MallTopicNews/" + item.id + ".jpg";
						}
						if (c == 0)
						{
							<li data-select="true" onclick="CambiarImagen(this)"><img src="@img" id="@item.id" data-count="@c" data-src="@img" data-nombreimagen="@item.titulo" data-descripcionnoticia="@item.descripcion" data-linknoticia="@detalle/@item.id" data-titulo="@item.titulo" /></li>
						}
						else
						{
							<li data-select="false" onclick="CambiarImagen(this)"><img src="@img" id="@item.id" data-count="@c" data-src="@img" data-nombreimagen="@item.titulo" data-descripcionnoticia="@item.descripcion" data-linknoticia="@detalle/@item.id" data-titulo="@item.titulo" /></li>
						}
						c++;
					}
				</ul>

			</div>



		</section>
		<iframe class="videoPlaylist" src="//www.youtube.com/embed/videoseries?list=PL7tjU4td49j0_dTiHSlkWft2fzfzrKEKe" frameborder="0" allowfullscreen></iframe>
		<a href="http://www.malltopic.com/" onclick="malltopic();" class="DowloadApp"></a>
	</article>
	@* Recientes *@
	<div id="notasPage" class="tag1">
		<h2>Recientes</h2>
		@{var cre = 0;
		}
		@foreach (var item in ModeloNoticiasRecientes)
		{
			var ruta = "http://malltopic.azurewebsites.net/Images/Uploads/MallTopicNews/" + item.id + ".png";
			if (MallTopic_News.Controllers.Existente.RemoteFileExists(ruta, 500))
			{
				ruta = "http://malltopic.azurewebsites.net/Images/Uploads/MallTopicNews/" + item.id + ".png";
			}
			else
			{
				ruta = "http://malltopic.azurewebsites.net/Images/Uploads/MallTopicNews/" + item.id + ".jpg";
			}
			if (cre < 3)
			{
				<aside>
					<a href="~/Home/NoticiaDetalle/@item.id">
						<div class="notaInd">
							<img src="@ruta" />
							<h3>@item.titulo</h3>
							@{var descripcion = "";
							var largo = item.descripcion.Length;
							if (largo >= 300)
							{
								descripcion = item.descripcion.Substring(0, 296) + "...";
							}
							else
							{
								descripcion = item.descripcion.Substring(0, largo);
							}
							}
							<p id="recientesParrafo">@descripcion</p>
						</div>
					</a>
				</aside>
			}
			else if (cre >= 3)
			{
				<aside>
					<a href="~/Home/NoticiaDetalle/@item.id">
						<div class="notaInd">
							<img src="@ruta" />
							<h3>@item.titulo</h3>
							@{var descripcion = "";
							var largo = item.descripcion.Length;
							if (largo >= 300)
							{
								descripcion = item.descripcion.Substring(0, 296) + "...";
							}
							else
							{
								descripcion = item.descripcion.Substring(0, largo);
							}
							}
							<p>@descripcion</p>
						</div>
					</a>
				</aside>
			}
			cre++;
		}
	</div>
	@* Promociones *@
	<div id="notasPage" class="tag2">
		<h2>Promociones</h2>
		@{var cpr = 0;
		}
		@foreach (var item in ModeloNoticiasPromociones)
		{
			var ruta = "http://malltopic.azurewebsites.net/Images/Uploads/MallTopicNews/" + item.id + ".png";
			if (MallTopic_News.Controllers.Existente.RemoteFileExists(ruta, 500))
			{
				ruta = "http://malltopic.azurewebsites.net/Images/Uploads/MallTopicNews/" + item.id + ".png";
			}
			else
			{
				ruta = "http://malltopic.azurewebsites.net/Images/Uploads/MallTopicNews/" + item.id + ".jpg";
			}
			if (cpr < 3)
			{
				<aside>
					<a href="~/Home/NoticiaDetalle/@item.id">
						<div class="notaInd">
							<img src="@ruta" />
							<h3>@item.titulo</h3>
							@{var descripcion = "";
							var largo = item.descripcion.Length;
							if (largo >= 300)
							{
								descripcion = item.descripcion.Substring(0, 296) + "...";
							}
							else
							{
								descripcion = item.descripcion.Substring(0, largo);
							}
							}
							<p>@descripcion</p>
						</div>
					</a>
				</aside>
			}
			else if (cpr >= 3)
			{
				<aside>
					<a href="~/Home/NoticiaDetalle/@item.id">
						<div class="notaInd">
							<img src="@ruta" />
							<h3>@item.titulo</h3>
							@{var descripcion = "";
							var largo = item.descripcion.Length;
							if (largo >= 300)
							{
								descripcion = item.descripcion.Substring(0, 296) + "...";
							}
							else
							{
								descripcion = item.descripcion.Substring(0, largo);
							}
							}
							<p>@descripcion</p>
						</div>
					</a>
				</aside>
			}
			cpr++;
		}
	</div>

	@* eventos *@

	<div id="notasPage" class="tag3">
		<h2>Eventos</h2>
		@{var cev = 0;
		}
		@foreach (var item in ModeloNoticiasRecientes)
		{
			var ruta = "http://malltopic.azurewebsites.net/Images/Uploads/MallTopicNews/" + item.id + ".png";
			if (MallTopic_News.Controllers.Existente.RemoteFileExists(ruta, 500))
			{
				ruta = "http://malltopic.azurewebsites.net/Images/Uploads/MallTopicNews/" + item.id + ".png";
			}
			else
			{
				ruta = "http://malltopic.azurewebsites.net/Images/Uploads/MallTopicNews/" + item.id + ".jpg";
			}
			if (cev < 3)
			{
				<aside>
					<a href="~/Home/NoticiaDetalle/@item.id">
						<div class="notaInd">
							<img src="@ruta" />
							<h3>@item.titulo</h3>
							@{var descripcion = "";
							var largo = item.descripcion.Length;
							if (largo >= 300)
							{
								descripcion = item.descripcion.Substring(0, 296) + "...";
							}
							else
							{
								descripcion = item.descripcion.Substring(0, largo);
							}
							}
							<p>@descripcion</p>
						</div>
					</a>
				</aside>
			}
			else if (cev >= 3)
			{
				<aside>
					<a href="~/Home/NoticiaDetalle/@item.id">
						<div class="notaInd">
							<img src="@ruta" />
							<h3>@item.titulo</h3>
							@{var descripcion = "";
							var largo = item.descripcion.Length;
							if (largo >= 300)
							{
								descripcion = item.descripcion.Substring(0, 296) + "...";
							}
							else
							{
								descripcion = item.descripcion.Substring(0, largo);
							}
							}
							<p>@descripcion</p>
						</div>
					</a>
				</aside>
			}
			cev++;
		}
	</div>

	@*Salud y belleza*@

	<div id="notasPage" class="tag4">
		<h2>Salud y belleza</h2>
		@{var csyb = 0;
		}
		@foreach (var item in ModeloNoticiasSaludyBelleza)
		{
			var ruta = "http://malltopic.azurewebsites.net/Images/Uploads/MallTopicNews/" + item.id + ".png";
			if (MallTopic_News.Controllers.Existente.RemoteFileExists(ruta, 500))
			{
				ruta = "http://malltopic.azurewebsites.net/Images/Uploads/MallTopicNews/" + item.id + ".png";
			}
			else
			{
				ruta = "http://malltopic.azurewebsites.net/Images/Uploads/MallTopicNews/" + item.id + ".jpg";
			}
			if (csyb < 3)
			{
				<aside>
					<a href="~/Home/NoticiaDetalle/@item.id">
						<div class="notaInd">
							<img src="@ruta" />
							<h3>@item.titulo</h3>
							@{var descripcion = "";
							var largo = item.descripcion.Length;
							if (largo >= 300)
							{
								descripcion = item.descripcion.Substring(0, 296) + "...";
							}
							else
							{
								descripcion = item.descripcion.Substring(0, largo);
							}
							}
							<p>@descripcion</p>
						</div>
					</a>
				</aside>
			}
			else if (csyb >= 3)
			{
				<aside>
					<a href="~/Home/NoticiaDetalle/@item.id">
						<div class="notaInd">
							<img src="@ruta" />
							<h3>@item.titulo</h3>
							@{var descripcion = "";
							var largo = item.descripcion.Length;
							if (largo >= 300)
							{
								descripcion = item.descripcion.Substring(0, 296) + "...";
							}
							else
							{
								descripcion = item.descripcion.Substring(0, largo);
							}
							}
							<p>@descripcion</p>
						</div>
					</a>
				</aside>
			}
			csyb++;
		}
	</div>

	@*Moda*@

	<div id="notasPage" class="tag5">
		<h2>Moda</h2>
		@{var cmod = 0;
		}
		@foreach (var item in ModeloNoticiasModas)
		{
			var ruta = "http://malltopic.azurewebsites.net/Images/Uploads/MallTopicNews/" + item.id + ".png";
			if (MallTopic_News.Controllers.Existente.RemoteFileExists(ruta, 500))
			{
				ruta = "http://malltopic.azurewebsites.net/Images/Uploads/MallTopicNews/" + item.id + ".png";
			}
			else
			{
				ruta = "http://malltopic.azurewebsites.net/Images/Uploads/MallTopicNews/" + item.id + ".jpg";
			}
			if (cmod < 3)
			{
				<aside>
					<a href="~/Home/NoticiaDetalle/@item.id">
						<div class="notaInd">
							<img src="@ruta" />
							<h3>@item.titulo</h3>
							@{var descripcion = "";
							var largo = item.descripcion.Length;
							if (largo >= 300)
							{
								descripcion = item.descripcion.Substring(0, 296) + "...";
							}
							else
							{
								descripcion = item.descripcion.Substring(0, largo);
							}
							}
							<p>@descripcion</p>
						</div>
					</a>
				</aside>
			}
			else if (cmod >= 3)
			{
				<aside>
					<a href="~/Home/NoticiaDetalle/@item.id">
						<div class="notaInd">
							<img src="@ruta" />
							<h3>@item.titulo</h3>
							@{var descripcion = "";
							var largo = item.descripcion.Length;
							if (largo >= 300)
							{
								descripcion = item.descripcion.Substring(0, 296) + "...";
							}
							else
							{
								descripcion = item.descripcion.Substring(0, largo);
							}
							}
							<p>@descripcion</p>
						</div>
					</a>
				</aside>
			}
			cmod++;
		}
	</div>

	@*Estilo de vida*@

	<div id="notasPage" class="tag6">
		<h2>Estilo de vida</h2>
		@{var cedv = 0;
		}
		@foreach (var item in ModeloNoticiasEstilodevida)
		{
			var ruta = "http://malltopic.azurewebsites.net/Images/Uploads/MallTopicNews/" + item.id + ".png";
			if (MallTopic_News.Controllers.Existente.RemoteFileExists(ruta, 500))
			{
				ruta = "http://malltopic.azurewebsites.net/Images/Uploads/MallTopicNews/" + item.id + ".png";
			}
			else
			{
				ruta = "http://malltopic.azurewebsites.net/Images/Uploads/MallTopicNews/" + item.id + ".jpg";
			}
			if (cedv < 3)
			{
				<aside>
					<a href="~/Home/NoticiaDetalle/@item.id">
						<div class="notaInd">
							<img src="@ruta" />
							<h3>@item.titulo</h3>
							@{var descripcion = "";
							var largo = item.descripcion.Length;
							if (largo >= 300)
							{
								descripcion = item.descripcion.Substring(0, 296) + "...";
							}
							else
							{
								descripcion = item.descripcion.Substring(0, largo);
							}
							}
							<p>@descripcion</p>
						</div>
					</a>
				</aside>
			}
			else if (cedv >= 3)
			{
				<aside>
					<a href="~/Home/NoticiaDetalle/@item.id">
						<div class="notaInd">
							<img src="@ruta" />
							<h3>@item.titulo</h3>
							@{var descripcion = "";
							var largo = item.descripcion.Length;
							if (largo >= 300)
							{
								descripcion = item.descripcion.Substring(0, 296) + "...";
							}
							else
							{
								descripcion = item.descripcion.Substring(0, largo);
							}
							}
							<p>@descripcion</p>
						</div>
					</a>
				</aside>
			}
			cedv++;
		}
	</div>

	@*Tecnologia*@

	<div id="notasPage" class="tag7">
		<h2>Tecnología</h2>
		@{var ctec = 0;
		}
		@foreach (var item in ModeloNoticiasTecnologia)
		{
			var ruta = "http://malltopic.azurewebsites.net/Images/Uploads/MallTopicNews/" + item.id + ".png";
			if (MallTopic_News.Controllers.Existente.RemoteFileExists(ruta, 500))
			{
				ruta = "http://malltopic.azurewebsites.net/Images/Uploads/MallTopicNews/" + item.id + ".png";
			}
			else
			{
				ruta = "http://malltopic.azurewebsites.net/Images/Uploads/MallTopicNews/" + item.id + ".jpg";
			}
			if (ctec < 3)
			{
				<aside>
					<a href="~/Home/NoticiaDetalle/@item.id">
						<div class="notaInd">
							<img src="@ruta" />
							<h3>@item.titulo</h3>
							@{var descripcion = "";
							var largo = item.descripcion.Length;
							if (largo >= 300)
							{
								descripcion = item.descripcion.Substring(0, 296) + "...";
							}
							else
							{
								descripcion = item.descripcion.Substring(0, largo);
							}
							}
							<p>@descripcion</p>
						</div>
					</a>
				</aside>
			}
			else if (ctec >= 3)
			{
				<aside>
					<a href="~/Home/NoticiaDetalle/@item.id">
						<div class="notaInd">
							<img src="@ruta" />
							<h3>@item.titulo</h3>
							@{var descripcion = "";
							var largo = item.descripcion.Length;
							if (largo >= 300)
							{
								descripcion = item.descripcion.Substring(0, 296) + "...";
							}
							else
							{
								descripcion = item.descripcion.Substring(0, largo);
							}
							}
							<p>@descripcion</p>
						</div>
					</a>
				</aside>
			}
			ctec++;
		}
	</div>

	@*Movilidad*@

	<div id="notasPage" class="tag8">
		<h2>Movilidad</h2>
		@{var cmov = 0;
		}
		@foreach (var item in ModeloNoticiasMovilidad)
		{
			var ruta = "http://malltopic.azurewebsites.net/Images/Uploads/MallTopicNews/" + item.id + ".png";
			if (MallTopic_News.Controllers.Existente.RemoteFileExists(ruta, 500))
			{
				ruta = "http://malltopic.azurewebsites.net/Images/Uploads/MallTopicNews/" + item.id + ".png";
			}
			else
			{
				ruta = "http://malltopic.azurewebsites.net/Images/Uploads/MallTopicNews/" + item.id + ".jpg";
			}
			if (cmov < 3)
			{
				<aside>
					<a href="~/Home/NoticiaDetalle/@item.id">
						<div class="notaInd">
							<img src="@ruta" />
							<h3>@item.titulo</h3>
							@{var descripcion = "";
							var largo = item.descripcion.Length;
							if (largo >= 300)
							{
								descripcion = item.descripcion.Substring(0, 296) + "...";
							}
							else
							{
								descripcion = item.descripcion.Substring(0, largo);
							}
							}
							<p>@descripcion</p>
						</div>
					</a>
				</aside>
			}
			else if (cmov >= 3)
			{
				<aside>
					<a href="~/Home/NoticiaDetalle/@item.id">
						<div class="notaInd">
							<img src="@ruta" />
							<h3>@item.titulo</h3>
							@{var descripcion = "";
							var largo = item.descripcion.Length;
							if (largo >= 300)
							{
								descripcion = item.descripcion.Substring(0, 296) + "...";
							}
							else
							{
								descripcion = item.descripcion.Substring(0, largo);
							}
							}
							<p>@descripcion</p>
						</div>
					</a>
				</aside>
			}
			cmov++;
		}
	</div>

	@*Especiales MT*@

	<div id="notasPage" class="tag9">
		<h2>Especiales MT</h2>
		@{var cemt = 0;
		}
		@foreach (var item in ModeloNoticiasEspeciales)
		{
			var ruta = "http://malltopic.azurewebsites.net/Images/Uploads/MallTopicNews/" + item.id + ".png";
			if (MallTopic_News.Controllers.Existente.RemoteFileExists(ruta, 500))
			{
				ruta = "http://malltopic.azurewebsites.net/Images/Uploads/MallTopicNews/" + item.id + ".png";
			}
			else
			{
				ruta = "http://malltopic.azurewebsites.net/Images/Uploads/MallTopicNews/" + item.id + ".jpg";
			}
			if (cemt < 3)
			{
				<aside>
					<a href="~/Home/NoticiaDetalle/@item.id">
						<div class="notaInd">
							<img src="@ruta" />
							<h3>@item.titulo</h3>

							@{
				if (item.descripcion != null)
				{
					var descripcion = "";
					var largo = item.descripcion.Length;
					if (largo >= 300)
					{
						descripcion = item.descripcion.Substring(0, 296) + "...";
					}
					else
					{
						descripcion = item.descripcion.Substring(0, largo);
					}

					<p>@descripcion</p>
				}
							}

						</div>
					</a>
				</aside>
			}
			else if (cemt >= 3)
			{
				<aside>
					<a href="~/Home/NoticiaDetalle/@item.id">
						<div class="notaInd">
							<img src="@ruta" />
							<h3>@item.titulo</h3>
							@{var descripcion = "";
							if (item.descripcion != null)
							{
								var largo = item.descripcion.Length;
								if (largo >= 300)
								{
									descripcion = item.descripcion.Substring(0, 296) + "...";
								}
								else
								{
									descripcion = item.descripcion.Substring(0, largo);
								}
								<p>@descripcion</p>
							}

							}
						</div>
					</a>
				</aside>
			}
			cemt++;
		}
	</div>

	<article class="redesSocial">
		<div id="fb-root"></div>
		<script>
			(function (d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.0";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
		<div class="fb-comments" id="redesSpace" data-href="http://www.malltopic.com/mt/" data-numposts="5" data-colorscheme="light"></div>
		@{
			var perfil = "@MallTopic";
		}
		<a class="twitter-timeline" href="https://twitter.com/search?q=%40MallTopic" data-widget-id="505952244089384960">Tweets sobre @perfil</a>
		<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
	</article>
</section>
